img {
  display: block;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.layout {
  max-width: 992px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.layout > .banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.layout > .banner > .banner_img {
  width: 1000%;
  overflow: hidden;
  position: relative;
  left: -100%;
}
.layout > .banner > .banner_img > li {
  float: left;
  width: 10%;
}
.layout > .banner > .banner_img > li > a {
  display: block;
  width: 100%;
}
.layout > .banner > .banner_img > li > a > img {
  width: 100%;
}
.layout > .banner .banner_indicator {
  position: absolute;
  height: 12px;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.layout > .banner .banner_indicator > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  border: 1px solid #fff;
}
.layout > .banner .banner_indicator > li.active {
  background-color: #fff;
}
